.topbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
}

nav{
display:flex;
gap:15px;
}

nav a{
text-decoration:none;
color:#c77dff;
font-weight:bold;
}

nav a:hover{
color:white;
}

.stats{
display:flex;
gap:15px;
font-size:18px;
}
